header {
    background-color: #38ADD1;
}

header a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 20px 50px;
    font-weight: 600;
}

header a:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

/*
(selector) {
    (rule);
    (rule);
    (rule);
}

Select by class
.(class-name) {
    (property): (value);
}

e.g.
.wrapper {
    margin-top: 100px;
}

Select by id
#index-wrapper {
    margin-top: 100px;
}

Select by tag
body {
    margin-top: 100px;
}

*/