.box {
    width: 50px;
    height: 50px;
}

.blue.box {
    background-color: blue;
    z-index: 10000;
    position: absolute;
}

.red.box {
    background-color: red;
    position: absolute;
    top: 30px;
    left: 50px;
    z-index: 0;
}
